//Colors
$white-color: #f8fcff;
$blue-color: #3366cc;
$black-color: #292929;
$black-light-color: #3c3c3c;
$digital-color: #0099ff;
$red-color: #fa4a33;
$shadow: #e0d6d6;

//Fonts
$montserrat: "Montserrat", sans-serif;
$source: "Source Sans Pro", sans-serif;
