@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

body {
    min-width: 320px;
    max-width: 1920px;
    font-family: $source;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.title-h2 {
    text-align: center;
    font-family: $montserrat;
    font-weight: 800;
    font-size: 50px;
    @media (max-width: 800px) {
        font-size: 25px;
    }
}

.visible {
    display: block !important;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.wrap_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.page-main, .about, .posts, .contact, .faq, .footer {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
}

//      ---------- Header-Info ----------

.info {
    background-color: $black-color;
}

.social-list, .contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    li {
        margin: 10px;
    }
}

.social-list__link {
    display: block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 100%;
    transition: 0.3s;
    &:hover {
        opacity: 0.5;
    }
}

.btn-fb {
    background-image: url(../img/svg/facebook.svg);
    background-repeat: no-repeat;
}
.btn-goo {
    background-image: url(../img/svg/google-plus.svg);
    background-repeat: no-repeat;
}
.btn-tw {
    background-image: url(../img/svg/twitter.svg);
    background-repeat: no-repeat;
}

.contacts-list__link {
    display: flex;
    color: $white-color;
    font-family: $source;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        opacity: 0.5;
    }
    .skype {
        background-image: url(../img/svg/skype-icon.svg);
    }
    .email {
        background-image: url(../img/svg/email-icon.svg);
    }
    span {
        display: block;
        width: 1em;
        height: 1em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 5px;
    }
}

// ---------- Header - Nav ----------

.nav {
    border-bottom: 10px solid $digital-color;
    @media (max-width: 900px) {
        padding: 30px 0;
    }
    &__logo {
        display: block;
        width: 240px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 36px;
        .first {
            color: $blue-color;
        }
        .second {
            color: $digital-color;
            margin-left: 10px;
        }
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: $source;
        font-size: 20px;
        color: $black-light-color;
        padding: 60px 0;
        @media (max-width: 900px) {
            display: none;
        }

        &__item {
            margin-left: 40px;
            padding-bottom: 5px;
            transition: 0.3s;
            &:hover {
                color: $black-color;
                font-weight: 800;
            }
        }
        &__link {
            &:visited {
                color: $black-light-color;
            }
        }
    }
}

//    ---------- Main ----------

.main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 706px;
    color: $white-color;

    .price {
        box-sizing: border-box;
        width: 410px;
        height: 80px;
        margin: 0 auto;
        padding: 13px 45px 13px 80px;
        background-image: url(../img/arrow-price.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @media (max-width: 900px) {
            width: 205px;
            height: 40px;
            padding: 7px 22px 7px 40px;
        }
        span {
            font-family: $montserrat;
            font-weight: 800;
            font-size: 50px;
            color: $red-color;
            @media (max-width: 900px) {
                font-size: 24px;
            }
        }
    }
    .contacts-list {
        @media (max-width: 900px) {
            flex-direction: column;
        }
        .contacts-list__link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $source;
            font-weight: 700;
            font-size: 30px;
            margin-right: 70px;
            @media (max-width: 900px) {
                font-size: 16px;
            }

            .skype {
                background-image: url(../img/tri-skype.png);
            }
            .email {
                background-image: url(../img/tri-email.png);
            }
            span {
                display: block;
                width: 80px;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 5px;
                @media (max-width: 900px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    &__wrap {
        padding-top: 100px;
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__title {
        font-family: $montserrat;
        font-size: 80px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 25px;
        @media (max-width: 800px) {
            font-size: 40px;
        }
    }
    &__text {
        text-align: center;
        font-size: 38px;
        font-family: $source;
        font-weight: 800;
        @media (max-width: 800px) {
            font-size: 20px;
        }
    }
    &__contacts {
        text-align: center;
        font-size: 36px;
        font-family: $montserrat;
        font-weight: 700;
        margin-bottom: 25px;
    }
}

// ---------- About Us ----------

.about__title {
    color: $black-light-color;
    margin-top: 135px;
    @media (max-width: 800px) {
        margin-top: 80px;
    }
}

.about__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: $black-light-color;
    @media (max-width: 800px) {
        flex-direction: column;
        justify-content: center;
    }
    .about__img {
        flex-basis: 49%;
        background-image: url(../img/marketing.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 580px;
        height: 410px;
        margin-left: -115px;
        @media (max-width: 800px) {
            display: none;
        }
    }
    .list-info {
        display: block;
        flex-basis: 55%;
        list-style-type: none;
        padding: 30px 15px;
        margin-top: 30px;
        @media (max-width: 800px) {
            flex-basis: 100%;
            margin: 15px 10px 0;
            padding: 15px 8px;
        }
        .list-info__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $source;
            font-size: 19px;
            font-weight: 700;
            @media (max-width: 800px) {
                font-size: 16px;
                justify-content: center;
            }
            .item-1 {
                display: block;
                width: 73px;
                height: 80px;
                background-image: url(../img/done-1.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                @media (max-width: 800px) {
                    margin-right: 15px;
                    width: 37px;
                    height: 40px;
                }
                @media (max-width: 420px) {
                    display: none;
                }
            }
            .item-2 {
                display: block;
                width: 68px;
                height: 84px;
                background-image: url(../img/done2.png);
                background-repeat: no-repeat;
                background-size: contain;
                @media (max-width: 800px) {
                    margin-right: 15px;
                    width: 37px;
                    height: 40px;
                }
                @media (max-width: 420px) {
                    display: none;
                }
            }
            .item-3 {
                display: block;
                width: 86px;
                height: 75px;
                background-image: url(../img/done3.png);
                background-repeat: no-repeat;
                background-size: contain;
                @media (max-width: 800px) {
                    margin-right: 15px;
                    width: 37px;
                    height: 40px;
                }
                @media (max-width: 420px) {
                    display: none;
                }
            }
            p {
                line-height: 1.3;
                flex-basis: 80%;
                @media (max-width: 420px) {
                    flex-basis: content;
                }
            }
        }
    }
}

.about__link {
    display: block;
    width: 240px;
    height: 50px;
    margin: 40px auto 0;
    padding: 20px 40px 0;
    background-color: $red-color;
    color: $white-color;
    font-family: $source;
    font-size: 20px;
    text-align: center;
    border-radius: 45px;
    box-shadow: 10px 10px 5px $shadow;
    transition: 0.3s;
    @media (max-width: 800px) {
        font-size: 16px;
        margin: 30px auto 0;
        padding: 20px 10px 0;
    }
    @media (max-width: 420px) {
        font-size: 16px;
        margin: 30px auto 0;
        padding: 20px 10px 0;
    }
    &:hover {
        padding: 30px 40px 0;
    }
}

// ---------- Post Now ----------

.posts {
    color: $black-light-color;
    margin-top: 115px;
    .posts__title {
        span {
            color: $red-color;
        }
    }
    .price-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        margin-top: 76px;
        @media (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
        }
        &__item {
            flex-basis: 23%;
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            line-height: 1.5;
            @media (max-width: 800px) {
                margin-bottom: 30px;
            }
            .item-img1 {
                width: 104px;
                height: 105px;
                background-image: url(../img/content.png);
            }
            .item-img2 {
                width: 121px;
                height: 117px;
                background-image: url(../img/pay.png);
            }
            .item-img3 {
                width: 98px;
                height: 119px;
                background-image: url(../img/infografic.png);
            }
            .item-img4 {
                display: block;
                width: 105px;
                height: 110px;
                background-image: url(../img/procent.png);
            }
            span {
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 auto 23px;
                @media (max-width: 800px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// ---------- Contact Us ----------

.contact {
    color: $white-color;
    background-image: url(../img/contuct-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    @media (max-width: 800px) {
        margin-bottom: 50px;
    }
    .contact__title {
        @media (max-width: 800px) {
            margin-bottom: 50px;
        }
    }
    .contact-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        margin-top: 30px;
        @media (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
        }
        &__item {
            flex-basis: 23%;
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            line-height: 1.5;
            @media (max-width: 800px) {
                margin-bottom: 50px;
            }
            .item__link {
                color: $white-color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                text-decoration: none;
                transition: 0.3s;
                @media (max-width: 800px) {
                    flex-direction: column;
                    justify-content: center;
                }
                &:hover {
                    opacity: 0.5;
                }
                .skype {
                    width: 90px;
                    height: 84px;
                    background-image: url(../img/tri-skype.png);
                }
                .email {
                    width: 90px;
                    height: 94px;
                    background-image: url(../img/tri-email.png);
                }
                .place {
                    width: 104px;
                    height: 105px;
                    background-image: url(../img/marker.png);
                }
                span {
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 5px;
                    @media (max-width: 800px) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

//---------- FAQ ----------

.faq {
    padding-top: 140px;
    padding-bottom: 100px;
    color: $black-light-color;
    background-image: url(../img/faq-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .faq__title {
        text-align: left;
    }
    .questions-list {
        margin-top: 50px;
        list-style-type: none;
        &__item {
            display: flex;
            flex-direction: column;
            .qestion {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 700;
                font-size: 30px;
                border-bottom: 1px solid $black-light-color;
                padding: 25px 0;
                &:hover {
                    cursor: pointer;
                    color: $blue-color;
                }
                span {
                    display: block;
                    width: 20px;
                    height: 11px;
                    background-image: url(../img/arrow-down.png);
                    transition: 0.3s;
                }
            }
            .answer {
                display: none;
                font-weight: 700;
                font-size: 19px;
                line-height: 1.5;
                padding: 0 25px;
                transition: 0.3s;
            }
            &:last-child .qestion {
                border-bottom: none;
            }
        }
    }
}

.active {
    color: $blue-color;
    border-bottom: none !important;
}

.arrow {
    background-image: url(../img/arrow-up.png) !important;
}

// ---------- Footer ----------

.footer {
    background-color: $black-color;
    padding-top: 90px;
    padding-bottom: 105px;
    .nav__logo {
        color: $white-color;
    }
    .nav-list {
        &__item {
            .nav-list__link {
                color: $white-color;
            }
        }
    }
    .footer__social {
        .social-list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            &__item {
                padding: 10px;
                border-radius: 100%;
                background-color: $white-color;
                .footer-fb {
                    background-image: url(../img/svg/facebook-b.svg);
                }
                .footer-goo {
                    background-image: url(../img/svg/google-plus-b.svg);
                }
                .footer-tw {
                    background-image: url(../img/svg/twitter-b.svg);
                }
                .social-list__link {
                    box-sizing: border-box;
                    display: block;
                    width: 40px;
                    height: 40px;
                    transition: 0.3s;
                    text-decoration: none;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @media (max-width: 800px) {
                        width: 25px;
                        height: 25px;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

// ---------- Modal ----------
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30px;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid $shadow;
    padding: 30px 15px 45px;
    text-align: center;
    background-color: $white-color;
    -webkit-box-shadow: 0 5px 6px $shadow;
    box-shadow: 0 5px 6px $shadow;
    border-radius: 10px;
    .btn-close {
        position: absolute;
        top: 15px;
        right: 40px;
        border: none;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: transparent;
        font-size: 35px;
        color: #6e7ea9;
        opacity: 0.2;
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.btn-menu {
    display: none;
    border: none;
    background-color: $blue-color;
    @media (max-width: 900px) {
        display: block;
    }
    &:focus {
        outline: none;
    }
    & svg {
        width: 35px;
        height: 35px;
        fill: $white-color;
    }
    &:hover svg {
        fill: $digital-color;
    }
    &:hover {
        cursor: pointer;
    }
}

.nav-modal {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin-top: 35px;
    }
}

.nav-item {
    color: $blue-color;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
        color: $digital-color;
        font-weight: 800;
    }
}

// ---------- Media ----------

// Media 600

@media (max-width: 600px) {
    .contacts-list {
        display: flex;
        flex-direction: column;
    }
}

// Media 420

@media (max-width: 420px) {
    .wrap_flex {
        align-items: center;
        justify-content: center;
    }
    .contacts-list {
        flex-direction: column;
    }
}
