<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Digital</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
                            
            <!-- Header -->

            <section class="page-main">
                <header>
                    <section class="info">
                        <div class="wrap wrap_flex">
                            <ul class="social-list">
                                <li><a href="#" class="social-list__link btn-fb" target="_blank"></a></li>
                                <li><a href="#" class="social-list__link btn-goo" target="_blank"></a></li>
                                <li><a href="#" class="social-list__link btn-tw" target="_blank"></a></li>
                            </ul>
                            <ul class="contacts-list">
                                <li><a href="#" class="contacts-list__link"><span class="skype"></span>Personalskype</a></li>
                                <li><a href="#" class="contacts-list__link"><span class="email"></span>info@personalmail.com</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="nav">
                        <div class="wrap wrap_flex">
                            <a href="#home" class="nav__logo"><span class="first">New</span><span class="second">Digital</span></a>
                            <ul class="nav-list">
                                <li class="nav-list__item">
                                    <a href="#home" class="nav-list__link">Home</a>
                                </li>
                                <li class="nav-list__item">
                                    <a href="#about_us" class="nav-list__link">About Us</a>
                                </li>
                                <li class="nav-list__item">
                                    <a href="#why_us" class="nav-list__link">Why Us?</a>
                                </li>
                                <li class="nav-list__item">
                                    <a href="#faq" class="nav-list__link">FAQ</a>
                                </li>
                                <li class="nav-list__item">
                                    <a href="#post_now" class="nav-list__link">Post Now</a>
                                </li>
                                <li class="nav-list__item">
                                    <a href="#" class="nav-list__link">Blog</a>
                                </li>
                            </ul>
                            <button class="btn-menu" type="button">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m491.32 235.32h-470.64c-11.422 0-20.682 9.259-20.682 20.682s9.26 20.682 20.682 20.682h470.64c11.423 0 20.682-9.259 20.682-20.682 0-11.422-9.259-20.682-20.682-20.682z"/>
                                        <path d="m491.32 78.439h-470.64c-11.422 0-20.682 9.26-20.682 20.682s9.26 20.682 20.682 20.682h470.64c11.423 0 20.682-9.26 20.682-20.682s-9.259-20.682-20.682-20.682z"/>
                                        <path d="m491.32 392.2h-470.64c-11.422 0-20.682 9.259-20.682 20.682s9.26 20.682 20.682 20.682h470.64c11.423 0 20.682-9.259 20.682-20.682s-9.259-20.682-20.682-20.682z"/>
                                </svg>
                            </button>
                        </div>
                    </section>
                </header>

            <!-- Main -->

                <section class="main" id="home">
                    <div class="wrap main__wrap">
                        <h1 class="main__title">
                            Feature Posts
                        </h1>
                        <div class="price"><span>From 250$</span></div>
                        <p class="main__text">
                            Posts That Contain Interviews Or News Stories About You,
                            Your&nbsp;Company&nbsp;Or Product/Service
                        </p>
                        <h3 class="main__contacts">You can contact us on: </h3>
                        <ul class="contacts-list">
                                <li><a href="#" class="contacts-list__link"><span class="skype"></span>Personalskype</a></li>
                                <li><a href="#" class="contacts-list__link"><span class="email"></span>info@personalmail.com</a></li>
                        </ul>
                    </div>
                </section>
            </section>

            <!-- About Us -->

            <section class="about" id="about_us">
                <div class="wrap">
                    <h2 class="about__title title-h2">About Us</h2>
                    <div class="about__info">
                        <div class="about__img"></div>
                        <ul class="list-info" id="why_us">
                            <li class="list-info__item ">
                                   <span class="item-1"></span><p>We place feature articles for clients on news and niche relevant blog sites. Articles can contain interviews with you or  news where you or your company is the source throughout the post.</p> 
                            </li>
                            <li class="list-info__item">
                                <span class="item-2"></span><p> We can also arrange product or service promotion within the post on certain platforms. All sites are authority sites and importantly are SEM  Rush checked 
                                    for real traffic as well as DA and Trust Flow.</p>
                            </li>
                            <li class="list-info__item">
                                <span class="item-3"></span><p> We make sure that you get branded links to your site that are do follow for SEO value. If any sites do not allow features  we have arrangements to get a quote and a link as a minimum for our clients. This way you are still able to garner the authority of being a contributor to a niche relevant article. This will always be advised pre order.</p>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="about__link">Get a Feature Post</a>
                </div>
            </section>

            <!-- Post Start -->

            <section class="posts" id="post_now">
                <div class="wrap">
                    <h2 class="posts__title title-h2">Posts Start From <span>Only $250</span></h2>
                    <ul class="price-list">
                        <li class="price-list__item"><span class="item-img1"></span>Content Is Included In  The Price</li>
                        <li class="price-list__item"><span class="item-img2"></span>Payments made up front through</li>
                        <li class="price-list__item"><span class="item-img3"></span>Infographics or Designed Images Graphics Are Extra,  CAN BE Arranged At The Time Of Ordering</li>
                        <li class="price-list__item"><span class="item-img4"></span>Discounts are available for bulk orders and regular clients. These can be discussed during the ordering process</li>
                    </ul>
                </div>
            </section>

            <!-- Contact Us -->

        <section class="contact" id="contact">
            <div class="wrap">
                <h2 class="contact__title title-h2">Contact Us</h2>
                <ul class="contact-list">
                    <li class="contact-list__item"><a href="#" class="item__link"><span class="place"></span>Kami House, 122 - 161  City Road, Bristol United  Kingdom, EC3V</a></li>
                    <li class="contact-list__item"><a href="#" class="item__link"><span class="email"></span>info@personalmail.com</a></li>
                    <li class="contact-list__item"><a href="#" class="item__link"><span class="skype"></span>personalskype</a></li>
                </ul>
            </div>
        </section>

            <!-- FAQ -->

        <section class="faq" id="faq">
            <div class="wrap">
                <h2 class="faq__title title-h2">FAQ</h2>
                <ul class="questions-list">
                    <li class="questions-list__item">
                        <div class="qestion">Can I use my own content? <span></span></div>
                        <div class="answer">1.In short – YES. They often contain branded links and any link is surrounded by incredibly 
                            relevant content.</div>
                    </li>
                    <li class="questions-list__item">
                        <div class="qestion">Are feature guest posts any good for SEO? <span></span></div>
                        <div class="answer">2.IIn short – YES. They often contain branded links and any link is surrounded by incredibly 
                            relevant content.</div>
                    </li>
                    <li class="questions-list__item">
                        <div class="qestion">Can these pages rank for keywords themselves? <span></span></div>
                        <div class="answer">3.In short – YES. They often contain branded links and any link is surrounded by incredibly 
                            relevant content.</div>
                    </li>
                    <li class="questions-list__item">
                        <div class="qestion">Can I manipulate titles of posts to carry specific  keywords of <span></span></div>
                        <div class="answer">4.In short – YES. They often contain branded links and any link is surrounded by incredibly 
                            relevant content.</div>
                    </li>
                </ul>
            </div>
        </section>

            <!-- Footer -->

        <footer>
            <section class="footer">
                <div class="wrap wrap_flex">
                    <a href="#home" class="nav__logo">New Digital</a>
                    <ul class="nav-list">
                        <li class="nav-list__item">
                            <a href="#home" class="nav-list__link">Home</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#about_us" class="nav-list__link">About Us</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#why_us" class="nav-list__link">Why Us?</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#faq" class="nav-list__link">FAQ</a>
                        </li>
                        <li class="nav-list__item">
                            <a href="#post_now" class="nav-list__link">Post Now</a>
                        </li>
                    </ul>
                    <div class="footer__social">
                        <ul class="social-list">
                            <li class="social-list__item"><a href="" class="social-list__link footer-fb" target="_blank"></a></li>
                            <li class="social-list__item"><a href="" class="social-list__link footer-goo" target="_blank"></a></li>
                            <li class="social-list__item"><a href="" class="social-list__link footer-tw" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </footer>
        <div class="modal">
                <button class="btn-close" type="button"><span>&times;</span></button>
                <ul class="nav-modal">
                    <li><a href="#home" class="nav-item">Home</a></li>
                    <li><a href="#about_us" class="nav-item">About Us</a></li>
                    <li><a href="#why_us" class="nav-item">Why Us?</a></li>
                    <li><a href="#faq" class="nav-item">FAQ</a></li>
                    <li><a href="#post_now" class="nav-item">Post now</a></li>
                    <li><a href="#" class="nav-item">Blog</a></li>
                </ul>
            </div>
                
       
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
        <script>
            const questions = document.getElementsByClassName('qestion');
            for (let i = 0; i < questions.length; i++){
                questions[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    this.lastChild.classList.toggle("arrow");
                    let answer = this.nextElementSibling;
                    if (answer.style.display === "block") {
                        answer.style.display = "none";
                        } else {
                            answer.style.display = "block";
                        };
                    });
                };
                const btnMenu = document.querySelector('.btn-menu');
                const btnClose = document.querySelector('.btn-close');
                const modalWindow = document.querySelector('.modal');
                btnMenu.onclick = function() {
                    modalWindow.classList.add("visible");
            };
                btnClose.onclick = function() {
                    modalWindow.classList.remove("visible");
            };
        </script>
    </body>
</html>