<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Digital</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
                            
            <!-- Header -->

            <section class="page-main">
                <header>
                    <section class="info">
                        <div class="wrap wrap_flex">
                            <ul class="social-list">
                                <li><a href="#" class="social-list__link btn-fb" target="_blank"></a></li>
                                <li><a href="#" class="social-list__link btn-goo" target="_blank"></a></li>
                                <li><a href="#" class="social-list__link btn-tw" target="_blank"></a></li>
                            </ul>
                            <ul class="contacts-list">
                                <li><a href="#" class="contacts-list__link"><span class="skype"></span>Personalskype</a></li>
                                <li><a href="#" class="contacts-list__link"><span class="email"></span>info@personalmail.com</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="header">
                        <div class="wrap wrap_flex">
                            <a href="" class="header__logo"><span class="first">New</span><span class="second">Digital</span></a>
                            <ul class="header-list">
                                <li class="header-list__item">
                                    <a href="" class="header-list__link">Home</a>
                                </li>
                                <li class="header-list__item">
                                    <a href="" class="header-list__link">About Us</a>
                                </li>
                                <li class="header-list__item">
                                    <a href="" class="header-list__link">Why Us?</a>
                                </li>
                                <li class="header-list__item">
                                    <a href="" class="header-list__link">FAQ</a>
                                </li>
                                <li class="header-list__item">
                                    <a href="" class="header-list__link">Post Now</a>
                                </li>
                                <li class="header-list__item">
                                    <a href="" class="header-list__link">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </header>

            <!-- Main -->

                <section class="main">
                    <div class="wrap main__wrap">
                        <h1 class="main__title">
                            Feature Posts
                        </h1>
                        <div class="price"><span>From 250$</span></div>
                        <p class="main__text">
                            Posts That Contain Interviews Or News Stories About You,
                            Your&nbsp;Company&nbsp;Or Product/Service
                        </p>
                        <h3 class="main__contacts">You can contact us on: </h3>
                        <ul class="contacts-list">
                                <li><a href="#" class="contacts-list__link"><span class="skype"></span>Personalskype</a></li>
                                <li><a href="#" class="contacts-list__link"><span class="email"></span>info@personalmail.com</a></li>
                        </ul>
                    </div>
                </section>
            </section>

            <!-- About Us -->

            <section class="about">
                <div class="wrap">
                    <h2 class="about__title"></h2>
                    <div class="about__info">
                        <div class="about__img"><img width="626px" height="448" src="../img/marketing.jpg" alt="scheme_SEO"></div>
                        <div class="about__list-info">
                            <ul class="list-info">
                                <li class="list-info__item">
                                        We place feature articles for clients on news and niche relevant blog sites. Articles can contain interviews with you or  news where you or your company is the source throughout the post. 
                                </li>
                                <li class="list-info__item">
                                        We can also arrange product or service promotion within the post on certain platforms. All sites are authority sites and importantly are SEM  Rush checked 
                                        for real traffic as well as DA and Trust Flow.
                                </li>
                                <li class="list-info__item">
                                        We make sure that you get branded links to your site that are do follow for SEO value. If any sites do not allow features  we have arrangements to get a quote and a link as a minimum for our clients. This way you are still able to garner the authority of being a contributor to a niche relevant article. This will always be advised pre order.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="about__link">Get a Feature Post</a>
                </div>
            </section>

            <!-- Post Start -->

            <section class="posts">
                <div class="wrap">
                    <h2 class="posts__title">Posts Start From Only $250</h2>
                    <ul class="price-list">
                        <li class="price-list__item"><span></span>Content Is Included In  The Price</li>
                        <li class="price-list__item"><span></span>Payments made up front through  PayPal toprotect both parties. </li>
                        <li class="price-list__item"><span></span>Infographics or Designed Images Graphics Are Extra,  CAN BE Arr</li>
                        <li class="price-list__item"><span></span>Discounts are available for bulk  orders and regular clients. T</li>
                    </ul>
                </div>
            </section>

            <!-- Contact Us -->

        <section class="contact">
            <div class="wrap">
                <h2 class="contact__title">Contact Us</h2>
                <ul class="contact-list">
                    <li class="contact-list__item"><span><a href="" class="item__link"></a></span>Kami House, 122 - 161  City Road, Bristol United  Kingdom, EC3V</li>
                    <li class="contact-list__item"><span><a href="" class="item__link"></a></span>info@personalmail.com</li>
                    <li class="contact-list__item"><span><a href="" class="item__link"></a></span>personalskype</li>
                </ul>
            </div>
        </section>

            <!-- FAQ -->

        <section class="faq">
            <div class="wrap">
                <h2 class="faq__title">FAQ</h2>
                <ul class="questions-list">
                    <li class="questions-list__item">
                        <div class="qestion">Can I use my own content?</div>
                        <div class="answer">1.In short – YES. They often contain branded links and any link i</div>
                    </li>
                    <li class="questions-list__item">
                        <div class="qestion">Are feature guest posts any good for SEO?</div>
                        <div class="answer">2.In short – YES. They often contain branded links and any link i</div>
                    </li>
                    <li class="questions-list__item">
                        <div class="qestion">Can these pages rank for keywords themselves?</div>
                        <div class="answer">3.In short – YES. They often contain branded links and any link i</div>
                    </li>
                    <li class="questions-list__item">
                        <div class="qestion">Can I manipulate titles of posts to carry specific  keywords of</div>
                        <div class="answer">4.In short – YES. They often contain branded links and any link i</div>
                    </li>
                </ul>
            </div>
        </section>

            <!-- Footer -->

        <footer>
            <section class="footer">
                <div class="wrap">
                    <a href="" class="header__logo">New Digital</a>
                    <ul class="header-list">
                        <li class="header-list__item active">
                            <a href="" class="header-list__link">Home</a>
                        </li>
                        <li class="header-list__item">
                            <a href="" class="header-list__link">About Us</a>
                        </li>
                        <li class="header-list__item">
                            <a href="" class="header-list__link">Why Us?</a>
                        </li>
                        <li class="header-list__item">
                            <a href="" class="header-list__link">FAQ</a>
                        </li>
                        <li class="header-list__item">
                            <a href="" class="header-list__link">Post Now</a>
                        </li>
                        <li class="header-list__item">
                            <a href="" class="header-list__link">Blog</a>
                        </li>
                    </ul>
                    <div class="footer__social">
                        <ul class="social-list">
                            <li class="social-list__item"><a href="" class="social-list__link"></a></li>
                            <li class="social-list__item"><a href="" class="social-list__link"></a></li>
                            <li class="social-list__item"><a href="" class="social-list__link"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </footer>
                
       
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>